
<h1>Moje ekipe</h1>
<div id="teams" class="row row-cols-1 row-cols-md-4 g-2">
  <% @teams.each do |team| %>
    <div class="col">
      <div class="card h-100">
        <div class="card-body position-relative">
          <% if team.users.count == 5 %>
              <strong class="d-inline-block mb-2 text-danger">Št članov: <%= team.users.count %>/5</strong>
            <% else %>
              <strong class="d-inline-block mb-2 text-primary">Št članov: <%= team.users.count %>/5</strong>
          <% end %>
          <h3 class="card-title"><%= team.name %></h3>
          <div class="mb-1 text-muted">Ustvarjeno dne: <%= team.created_at %> </div>
          <p class="card-text">Člani ekipe: <%= team.users.map(&:username).join(', ') %></p>
          <p class="card-text">Izbrane igre: <%= team.games.map(&:name).join(', ') %></p>
          <%= link_to "Pokaži to ekipo", team, class:"btn btn-primary" %>
          <% if team.is_verified %>
            <div class="position-absolute top-0 end-0 mt-2 me-2 d-flex align-items-center">
              <%= image_tag asset_path("checkmark.svg"), class:"checkmark-team"%>
              <p class="text-success mb-0">Ta ekipa je potrjena</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>



<%= link_to "New team", new_team_path %>
