
<br>
<div id="teams" class="row row-cols-1 row-cols-md-4 g-2">
  <% @teams.each do |team| %>
    <div class="col">
      <div class="card h-100 bg-dark text-light">
        <div class="card-body position-relative">
          <% if team.game && team.users.count + 1 == team.game.number_of_players %>
            <strong class="d-inline-block mb-2 text-danger">Št članov: <%= team.users.count + 1 %>/<%= team.game.number_of_players %></strong>
          <% elsif team.game && team.users.count + 1 != team.game.number_of_players  %>
            <strong class="d-inline-block mb-2 text-primary">Št članov: <%= team.users.count + 1 %>/<%= team.game.number_of_players %></strong>
          <% else %>
            <strong class="d-inline-block mb-2 text-primary">Št članov: <%= team.users.count %>/(Ni igre)</strong>
          <% end %>
          <h3 class="card-title"><%= team.name %></h3>
          <div class="mb-1 text-light">Ustvarjeno dne: <i><%= team.created_at %></i> </div>
          <p class="card-text">Lastnik: <%= team.user.username  %></p>
          <% if team.users.count == 0 %>
            <p class="card-text">Ta ekipa je <b>brez</b> članov</p>
          <% else %>
            <p class="card-text">Člani ekipe: <b><%= team.users.map(&:username).join(', ') %></b></p>
          <% end %>
          <p class="card-text">Izbrana igra: <%= team.game.name if team.game %></p>

          <%= link_to "Pokaži to ekipo", team, class:"btn btn-primary" %>
          <% if team.is_verified %>
            <div class="position-absolute top-0 end-0 mt-2 me-2 d-flex align-items-center">
              <%= image_tag asset_path("checkmark.svg"), class:"checkmark-team me-1"%>
              <p class="text-success mb-0">Ta ekipa je potrjena</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>



<%= link_to "New team", new_team_path %>

