<body class="login-back">
<%= render @team %>

<!-- Show owner's email -->
<p class="text-light">Owner: <%= @team.user.username %></p>

<!-- Show all users' email addresses in the team -->
<p class="text-light">Team Members: <%= @team.users.map(&:email).join(', ') %></p>


<h2 class="text-light">Izbrana igra</h2>
<p class="text-light"><%= @team.game.name%></p>


<% if current_user == @team.user %>
  <%= link_to "Uredi ekipo", edit_team_path(@team) %>
  <br>
  <%= link_to "Nazaj na ekipe", teams_path %>

  <%= button_to "Izbriši ekipo", @team, method: :delete %>
<% else %>
  <%= link_to 'Zapusti ekipo', leave_team_path(@team), method: :delete %> 
<% end %>


</body>