<% image_paths = Dir.glob('app/assets/images/sponsors/*').shuffle.uniq %>
<% total_images = image_paths.length %>
<% min_images_needed = 3 - (total_images % 3) %>


<p class="countdown main-title-homepage">Sponzorji</p>
<div class="custom-carousel">
  <div class="custom-carousel-item">
    <%= link_to "https://eigre.si/", target:"_blank" do %>
      <%= image_tag asset_path("sponsors/1.png"), class: 'custom-carousel-image', data: { carousel_target: "slide" } %>
    <% end %>
  </div>
  <div class="custom-carousel-item">
    <%= link_to "https://www.youtube.com/watch?v=dQw4w9WgXcQ", target:"_blank" do %>
      <%= image_tag asset_path("sponsors/2.png"), class: 'custom-carousel-image', data: { carousel_target: "slide" } %>
    <% end %>
  </div>
  <div class="custom-carousel-item">
    <%= link_to "https://www.facebook.com/mc.velenje/?locale=sl_SI", target:"_blank" do %>
      <%= image_tag asset_path("sponsors/4.png"), class: 'custom-carousel-image', data: { carousel_target: "slide" } %>
    <% end %>
  </div>
  <div class="custom-carousel-item">
    <%= link_to "https://store.steampowered.com/app/629760/MORDHAU/", target:"_blank" do %>
      <%= image_tag asset_path("sponsors/6.png"), class: 'custom-carousel-image', data: { carousel_target: "slide" } %>
    <% end %>
  </div>
  <div class="custom-carousel-item">
    <%= link_to "https://kunigunda.si/", target:"_blank" do %>
      <%= image_tag asset_path("sponsors/7.png"), class: 'custom-carousel-image', data: { carousel_target: "slide" } %>
    <% end %>
  </div>
  <div class="custom-carousel-item">
    <%= link_to "https://www.skaza.com/", target:"_blank" do %>
      <%= image_tag asset_path("sponsors/8.png"), class: 'custom-carousel-image', data: { carousel_target: "slide" } %>
    <% end %>
  </div>
  <div class="custom-carousel-item">
    <%= link_to "https://linkomp.si/", target:"_blank" do %>
      <%= image_tag asset_path("sponsors/9.png"), class: 'custom-carousel-image', data: { carousel_target: "slide" } %>
    <% end %>
  </div>
  <div class="custom-carousel-item">
    <%= link_to "https://www.lenovo.com/si/sl/", target:"_blank" do %>
      <%= image_tag asset_path("sponsors/10.png"), class: 'custom-carousel-image', data: { carousel_target: "slide" } %>
    <% end %>
  </div>
</div>

