<!DOCTYPE html>
<html>
  <head>
    <title>ERŠ LAN Party 2023/24</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render 'application/favicon' %>
    <meta name="theme-color" content="#3857F4">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap" rel="stylesheet">
  </head>

  <body class="login-back">
    <%= render 'layouts/navbar' %>
    <% if ENV['ANKETA_ACTIVE'] == 'YES' && !cookies[:anketa_banner_closed]%>
      <%= render 'layouts/fillform' %>
    <% end %>
    <% if !cookies[:discord_banner_closed]%>
      <%= render 'layouts/discordbanner' %>
    <% end %> 
    <% flash.each do |key, message| %>
    <div class="toast-container top-0 end-0 p-3">
      <div class="alert <%= flash_class(key) %> alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
